 h1 
 {
    color:red;
}
h2
{
    color:blue;
}
p{
    color:brown;
}
button{
    color:chartreuse;
    background-color: crimson;
    
}
body{
      background-color:rgb(255, 255, 255);
}
herf{
    height: 700;
    color:aquamarine;
}
